 body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url('images/computer.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 180vh;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin-top: 100px;
    width: 100%;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

h3 {
    color: #007BFF;
}

p {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
}